a {
    text-decoration: none;
}

.footer-section {
    padding-top: 60px;
}

.footer-logo {
    padding-bottom: 60px;
}

.footer-widget {
    margin-bottom: 70px;
    overflow: hidden;
    margin-right: 15px;
}

.about-widget {
    padding-right: 40px;
}

.footer-widget h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 45px;
}

.footer-widget p {
    color: #8f8f8f;
}

.footer-widget.about-widget p {
    margin-bottom: 50px;
    letter-spacing: -0.01em;
}

.footer-widget ul {
    list-style: none;
    float: left;
    margin-right: 37px;
}

.footer-widget ul:last-child {
    margin-right: 0;
}

.footer-widget ul li a {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    color: #8f8f8f;
    margin-bottom: 6px;
}

.footer-widget ul li a:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 0;
    top: 8px;
    border: 1px solid #0690CF;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.footer-widget ul li a:hover {
    color: #fff;
}

.footer-widget ul li a:hover:after {
    width: 7px;
    height: 7px;
    top: 6px;
    background: #0690CF;
}

.text-center {
    text-align: center;
}

.fw-latest-post-widget .lp-item {
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
}

.fw-latest-post-widget .lp-thumb {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 22px;
}

.fw-latest-post-widget .lp-content {
    overflow: hidden;
    padding-top: 2px;
}

.fw-latest-post-widget .lp-content h6 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.25;
    color: #717171;
    margin-bottom: 1px;
}

.fw-latest-post-widget .lp-content span {
    display: block;
    font-size: 12px;
    color: #8f8f8f;
    margin-bottom: 4px;
}

.fw-latest-post-widget .lp-content .readmore {
    font-size: 12px;
    cursor: pointer;
}

.mt-5 {
    margin-top: 3rem;
}

.text-white {
    color: white;
}

.contact-widget .con-info span {
    float: left;
    color: #0690CF;
    margin-right: 15px;
    overflow: hidden;
}

.social-links-warp {
    border-top: 2px solid #3b3535;
    padding: 46px 0;
}

.social-links .item {
    margin-right: 60px;
    display: inline-block;
}

.social-links .item:last-child {
    margin-right: 0;
}

.social-links a i {
    font-size: 30px;
    color: #d7d7d7;
    float: left;
    margin-right: 19px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-links a span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9f9fa0;
    padding-top: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-links a.instagram:hover i {
    color: #2F5D84;
}

.social-links a.google-plus:hover i {
    color: #0690CF;
}

.social-links a.twitter:hover i {
    color: #5abed6;
}

.social-links a.pinterest:hover i {
    color: #0690CF;
}

.social-links a.facebook:hover i {
    color: #39599F;
}

.social-links a.twitter:hover i {
    color: #5abed6;
}

.social-links a.youtube:hover i {
    color: #0690CF;
}

.social-links a.tumblr:hover i {
    color: #37475E;
}

.social-links a:hover span {
    color: #fff;
}

@media only screen and (max-width: 750px) {
    .social-links .item span {
        display: none;
    }
}